1.write a program to print fibnocci sequence?

In [2]:
def fib(n1,n2):
    p=int(input('enter no.of terms'))
    for i in range(p):
            n3=n2+n1
            n1=n2
            n2=n3
            print(n3)
fib(0,1)

enter no.of terms5
1
2
3
5
8

2.write a program to print factorial of number?

In [3]:
def fact(n):
    if n==1:
        return 1
    return n*fact(n-1)
p=int(input('enter a number to find factorial:'))
fact(p)

enter a number to find factorial:5

120

3.find a sum of a given number and reverse it?

In [7]:
def sum(n):
    s=0
    rev=0
    
    while(n!=0):
            s=s+n%10
            n=n//10
            rev=(rev*10)+n%10
    print("sum is ",s)
    print("revers of num is",rev)
sum(123)

sum is  6
revers of num is 210

4.swap two number without using temp varable?

In [8]:
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

5. Find Numeriacl palindrome?

In [9]:
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    rev=rev*10+num%10
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:123
Not a palindrome!

6. write a program to check perfect square?

In [10]:
import math
def perfect_square(n):
    if n>0:
        sq=math.sqrt(n)
    return (sq*sq==float(n))
perfect_square(20)

False

7.program to check amstrong number or not

In [13]:
def amstrong(n):
    #p=len(n)
    temp=n
    n1=0
    while temp>0:
        digit=temp%10
        n1=n1+digit**3
        temp=temp//10
    if n==n1:
        print(f'{n} yes the number is amstrong number')
    else :
        print(f'{n} No it is not an amstrong number')
    return n1
amstrong(153)

153 yes the number is amstrong number

153

8.write a programe to find prime number

In [14]:
def prime(n):
    flag=0
    for i in range(2,n):
        if n%i==0:
            flag=1
            break
    if flag==0:
        print('prime')
    else:
        print('Not a prime')
prime(5)

prime

9.program to find even or odd

In [15]:
def check_even_odd(n):
    if n%2==0:
        print(f'{n} is Even number')
    else:
        print(f'{n} is odd number')
check_even_odd(55)

55 is odd number

10.find the leap years from 1-N

In [20]:
def check_leap_year(n):
    if (n%400==0) and (n%100==0) and (n%4==0):
        print('leap year')
    else :
        print("not a leap year")
    return n
check_leap_year(1200)

leap year

1200

11.convert degress 'C to 'fr

In [21]:
n=int(input('enter an num in celsius:'))
f=(n*9/5)+32
print(f)

enter an num in celsius:5
41.0

12.convert number decimal to binary

In [33]:
def decimal_to_binary(n):
    if n>0:
        decimal_to_binary(n//2)
    print(n%2,end=' ')
decimal_to_binary(1)

0 1

13.convert binary to decimal

In [52]:
def bin_to_dec(n):
    return bin(n).replace('0b','')
bin_to_dec(10)

'1010'

14.comapre the two strings without predefine functions

In [37]:
a='reddy'
b='reddy'
flag=0
for i in range(len(a)):
    if a[i]!=b[i]:
        flag=1
if flag==1:
    print('both strings not same')
else:
    print('both strings are same')

both strings are same

15.copy the strings without using predefine functions

In [44]:
a='reddy'
b=[]
for i in range(len(a)):
    b.append(a[i])
print(b)

['r', 'e', 'd', 'd', 'y']

16.revese the given array

In [61]:
a=[1,2,3,4,5]
b=[]
for i in range(4,0,-1):
    b.append(a[i])
print(b)

[5, 4, 3, 2]

17.string revese

In [70]:
s='royal_reddee'
print("".join(reversed(s)))
print(s[::-1])

eedder_layor
eedder_layor

18.string palindrome

In [75]:
s="ssi"
s1=s[::-1]
if s==s1:
    print("yes")
else :
    print("not a string palindrome")

not a string palindrome

19.power of a number

In [85]:
def power_of_num(n,p):
    return n**p
a,b=[int(x) for x in input("Enter 'number:' and 'power'").split()]
power_of_num(a,b)

Enter 'number:' and 'power'10 10

10000000000

20.find the largest and smallest number?

In [93]:
lst=[120,5,45,55,100]
l=len(lst)
lst=sorted(lst)
print(lst[0],lst[l-1])

5 120

21.find the second largest and second smallest number?

In [101]:
lst=[120,5,45,55,100]
l=len(lst)
lst=sorted(lst)
print(lst)
print(lst[1],lst[l-2])

[5, 45, 55, 100, 120]
45 100

22.write different types of pattern programs

In [6]:
n=5
for i in range(n):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****

In [11]:
n=6
for i in range(1,n):
    for j in range(i):
        print(j,end=' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [12]:
n=6
for i in range(1,n):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [15]:
n=6

for i in range(1,n):
    for j in range(i):
        print(' *',end=' ')
    print()

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [23]:
n=5
b=0
for i in range(n,0,-1):
    b+=1
    for j in range(1,i+1):
        print(b,end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [28]:
n=5
#b=0
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [29]:
n=5
#b=0
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [36]:
n=6
for i in range(1,n):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [45]:
n=5
for i in range(1,n):
    for j in range(n,0,-1):
        if j>i:
            print(' ',end='')
        else:
            print( ' ',j,end='')
    print()

      1
     2  1
    3  2  1
   4  3  2  1

In [28]:
s='vijay,redde'
s1=''
for i in s[::-1]:
    #for j in 
    s1+=(i)
print(s1)

edder,yajiv

In [14]:
s = ""
s1='reddy'
for i in s1:
    s+=str(i)
print(s)

reddy

# linear search

In [10]:
l=[15,585,8,6,4,5]
key=int(input('enter a key to search:'))
for i in range(len(l)):
    if key==l[i]:
        print('key found at pos',i)
else:
    print('key was not found')

enter a key to search:2
key was not found

In [26]:
import sys
n=[1,5,2,88,26,5]
for i in range(len(n)):
    m=i
    for j in range(i+1,len(n)):
        if n[m]>n[j]:
            m=j
    n[i],n[m]==n[m],n[i]

print(n)

[1, 5, 2, 88, 26, 5]

In [29]:
# Python program for implementation of Selection
# Sort
import sys
A = [64, 25, 12, 22, 11]

# Traverse through all array elements
for i in range(len(A)):

# Find the minimum element in remaining
# unsorted array
    min_idx = i
    for j in range(i+1, len(A)):
        if A[min_idx] > A[j]:
            min_idx = j

# Swap the found minimum element with
# the first element	
    A[i], A[min_idx] = A[min_idx], A[i]

# Driver code to test above
print ("Sorted array" ,A)

Sorted array [11, 12, 22, 25, 64]